<h1>{{selectedContact.name}}</h1>

<button class="btn btn-info"><a ng-href="#/entries/{{selectedContact.id}}/edit">Update Contact Info</a></button>

<h2>Name: {{selectedContact.name}}</h2>
<h2>Nickname: {{selectedContact.nickName}}</h2>
<h2>Street Address: {{selectedContact.streetAddress}}</h2>
<h2>City, State, ZIP: {{selectedContact.cityStateZip}}</h2>
<h2>Phone Number: {{selectedContact.phoneNumber}}</h2>
<h2>Email: {{selectedContact.email}}</h2>
<h2>Birthday: {{selectedContact.birthday}}</h2>
<h2>Notes: {{selectedContact.personalNotes}}</h2>
