<h1>Address Book</h1>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="input-group search-bar-spacing">
					<span class="input-group-btn">
							<button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
					</span>
					<input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
			</div>
		</div>
	</div>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">Name</div>
		<div class="col-xs-3">Email</div>
		<div class="col-xs-3">Phone Number</div>
		<div class="col-xs-1"></div>
	</div>
</div>


	<div ng-repeat="person in entries | filter:searchText">
		<div class="panel panel-default">
				<div class="panel-body">
						<div class="col-xs-1"><input type="checkbox" name=""></div>
								<div class="col-xs-4"><a ng-href="#/entries/{{person.id}}">{{person.name}}</a></div>
								<div class="col-xs-3">{{person.phoneNumber}}</div>
								<div class="col-xs-3">{{person.email}}</div>
								<div class="col-xs-1"><button class="btn btn-danger" ng-click="deleteContact(person.id)"><i class="fa fa-trash" aria-hiddem="true"></i></button></div>
				</div>
		</div>
	</div>